<div class="side-bar sticky-top">

  <br>
  <br>
  <br>
  
  <div class="card">
    <br />
    <img class="card-img-top img-fluid" src="{{ BASE_PATH }}/assets/img/big/about/about.png" alt="Daff profile image">
    <div class="card-block">
      <h4 class="card-title">Fawwaz Daffa</h4>
    <p class="card-text">i'm still learning to be a programmer</p>
      <p class="card-text">I hope you can share your knowledge with me.</p>
      <p class="card-text">You can contact me by press one of downstair social buttons.</p>
      {% include social-block.html %}
    </div>

  </div>
  
  
  <div>
   
    
  </div>
  
</div>
              